.header {
  width: 100%;
  height: 8rem;
  display: flex;
  position: sticky;
  z-index: 10;
  top: 0;
  background-color: white;
  align-items: center;
  /* box-sizing: border-box;
  border-bottom: 1px solid #e2e8f0; */
}

.title {
  font-size: 1.8rem;
  margin-left: 2rem;
}

.link {
  font-size: 1.6rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.nav {
  margin-right: auto;
  margin-left: auto;
}

.ul {
  list-style: none;
  font-size: 1.6rem;
  display: flex;
  gap: 6rem;
}

.icon {
  vertical-align: middle;
  margin-left: 0.5rem;
}

@-webkit-keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
}
@keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
}
@-webkit-keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
}
@keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
}
.hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-animation-name: hvr-hang-sink, hvr-hang;
  animation-name: hvr-hang-sink, hvr-hang;
  -webkit-animation-duration: 0.3s, 1.5s;
  animation-duration: 0.3s, 1.5s;
  -webkit-animation-delay: 0s, 0.3s;
  animation-delay: 0s, 0.3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
