.container {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}
@media (max-width: 639px) {
  .container {
    max-width: 90vw;
  }
  .title {
    font-size: 12rem;
    margin-bottom: -10rem;
  }
  .head {
    margin-top: -5rem;
  }
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
  .title {
    font-size: 12rem;
    margin-bottom: -10rem;
  }
  .head {
    margin-top: -5rem;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .title {
    font-size: 12rem;
    margin-bottom: -10rem;
  }
  .head {
    margin-top: -5rem;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  .title {
    font-size: 12rem;
    margin-bottom: -10rem;
  }
  .head {
    margin-top: 0rem;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  .title {
    font-size: 14.4rem;
    margin-bottom: -13rem;
  }
  .head {
    margin-top: 2rem;
  }
}

.head {
  height: calc(100vh - 12rem);
  width: 100%;
  margin-top: 4rem;
  display: grid;
  grid-template-rows: 3fr 2fr;
}

.bg {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.intro {
  text-align: center;
  margin-top: 8rem;
}

.contact {
  padding: 1.2rem 2rem;
  font-size: 1.6rem;
  border: 2px solid #000000;
  border-radius: 4px;
}

.introSection {
  margin-top: 12rem;
}

.introBox {
  padding: 2rem 8rem 4rem 8rem;
  background: #fafafa;
  font-size: 1.8rem;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  border-radius: 16px;
  display: flex;
}

.introTitle {
  font-size: 5.5rem;
  text-align: left;
}

.introTextSt {
  margin-top: 2rem;
  text-align: justify;
}

.introText {
  padding: 0rem 0 0 4rem;
  margin-top: 5rem;
  font-size: 20px;
  line-height: 24px;
}